<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <% include partial/header %>
        <div class="container p-5">
            <div class="card">
                <div class="card-body">

                    <% if (user) { %>
                        <h1>Hello,

                            <%= user.name %>
                        </h1>

                        <p>
                            <%= user.email %>
                        </p>

                        <p>
                            <%= user.dateOfBirth %>
                        </p>

                        <% } %>
                </div>
            </div>
        </div>
</body>

</html>